{% extends 'accounts/main.html' %}
{% load static %}

{% block content %}

<br>
<div class="row">
    <div class="col-md-6">
        <div class="card card-body">
            <form action="" method="post">
                {% csrf_token %}

                <!-- 'formset.management_form' sends back the POST data in a way django wants -->
                <!-- without 'formset.management_form' django will throw an error of missing data -->
                {{ formset.management_form }}
                {% for form in formset %}
                    {{form}}
                    <hr>
                {% endfor %}
                <input type="submit" value="Submit" name="Submit">
            </form>
        </div>
    </div>
</div>

{% endblock %}